<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">GYMtrition</h1>
    </div>
</div>
<!-- /.row -->

<div class="row">

    <div class="col-md-8">
    <a href="https://gymtrition.herokuapp.com"><img class="img-responsive" src="images/gymtrition.jpg" alt=""></a>
    </div>

    <div class="col-md-4">
        <h3>Project Description</h3>
        <p>GYMtrition is a total fitness gym solution web app that helps you locate a gym near you, lets you build a workout plan, and then make a healthy post workout meal.  It was the front-end project for the Rutgers Coding Bootcamp course.</p>
        <p>I developed the workout plan module by sourcing data about exercises from all over the internet and organizing it into JSON.  This gave the module an 'API' full of exercise data for the user to populate into a dynamic table constructed with jQuery.  Curious to see how it works?  Check it out! </p>
        <h3>Technologies Used</h3>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>jQuery</li>
            <li>MaterializeCSS</li>

        </ul>
    </div>

</div>